In [12]:
class Employee:
    pass

In [13]:
emp1=Employee()
emp2=Employee()

In [14]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000122F8D6C128>
<__main__.Employee object at 0x00000122F8D6C0F0>

In [15]:
emp1.first='Simran'
emp1.last='Raina'
emp1.email='Simran.Raina@test.com'
emp1.pay=100000

In [16]:
emp2.first='Test'
emp2.last='Last'
emp2.email='Test.Last@test.com'
emp2.pay=200000

In [17]:
print(emp1.email)
print(emp2.email)

Simran.Raina@test.com
Test.Last@test.com

In [24]:
class Employee1:
    
    def __init__(self, first, last, pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@test.com'

In [28]:
emp3=Employee1('Simr', 'Raina', 100000)
emp4=Employee1('Test', 'Last', 200000)

In [29]:
print(emp3)
print(emp4)

<__main__.Employee1 object at 0x00000122F8DFCC18>
<__main__.Employee1 object at 0x00000122F8DFCC88>

In [31]:
print(emp3.email)
print(emp4.email)

Simr.Raina@test.com
Test.Last@test.com

In [33]:
print('{} {}'.format(emp3.first, emp3.last))

Simr Raina

In [44]:
class Employee2:
    
    def __init__(self, first, last, pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@test.com'
    
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

In [45]:
emp5=Employee2('Simr', 'Raina', 100000)
emp6=Employee2('Test', 'Last', 200000)

In [46]:
print(emp5.fullname())
print(emp6.fullname())

Simr Raina
Test Last

In [51]:
Employee2.fullname(emp5)

'Simr Raina'