## Printing

In [2]:
first_name="Simran"
last_name="Raina"
print("My first name is {} and last name is {}".format(first_name, last_name))

My first name is Simran and last name is Raina

In [3]:
print("My first name is {first} and last name is {last}".format(first=first_name, last=last_name))

My first name is Simran and last name is Raina

## Boolean

In [12]:
my_str='Simran Raina'
print(my_str.isalnum()) # False
print(my_str.isalpha()) # False
print(my_str.isdigit()) # False
print(my_str.istitle()) # True
print(my_str.isupper()) # False
print(my_str.islower()) # False
print(my_str.isspace()) # False
print(my_str.endswith('d')) #False
print(my_str.startswith('S')) # True

False
False
False
True
False
False
False
False
True

## List

In [13]:
# 1.
lst_example=[]

In [14]:
type(lst_example)

list

In [15]:
# 2.
lst=list()

In [16]:
print(lst)

[]

In [17]:
lst= ['Mathematics', 'Java', 100, 200, 'A1']

In [18]:
print(lst)

['Mathematics', 'Java', 100, 200, 'A1']

In [21]:
len(lst)

6

In [42]:
# Append
lst.append('Simran')

In [53]:
lst.append(['Preet', 'Singh'])

In [54]:
# Indexing
lst[0]

'Science'

In [55]:
lst[4]

100

In [56]:
lst[5]

200

In [57]:
lst[-1]

['Preet', 'Singh']

In [59]:
lst[:]

['Science',
 'Science',
 'Mathematics',
 'Java',
 100,
 200,
 'A1',
 'Simran',
 'Simran',
 'Simran',
 ['Preet', 'Singh']]

In [60]:
lst[0:]

['Science',
 'Science',
 'Mathematics',
 'Java',
 100,
 200,
 'A1',
 'Simran',
 'Simran',
 'Simran',
 ['Preet', 'Singh']]

In [61]:
lst[:2]

['Science', 'Science']

In [62]:
lst[:-1]

['Science',
 'Science',
 'Mathematics',
 'Java',
 100,
 200,
 'A1',
 'Simran',
 'Simran',
 'Simran']

## Insert

In [63]:
lst.insert(0,'Test')

In [64]:
lst

['Test',
 'Science',
 'Science',
 'Mathematics',
 'Java',
 100,
 200,
 'A1',
 'Simran',
 'Simran',
 'Simran',
 ['Preet', 'Singh']]

## Extend

In [65]:
list1=[1,2,3,4,5,6]

In [66]:
list1.extend([7,8])

In [67]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
# Operations on list
list2=[1,2,3,4,5]
sum(list2)

15

In [69]:
# Pop
list2.pop()

5

In [70]:
list2

[1, 2, 3, 4]

In [71]:
list2.pop(0)

1

In [72]:
list2

[2, 3, 4]

In [73]:
# Count
lst1=[1,4,5,6,7,4,3,2,1,3,4,5,6,7]
lst1.count(4)

3

In [78]:
lst1.index(1,1,-1) # value, start index, stop index

8

In [79]:
min(lst1)

1

In [81]:
max(lst1)

7

In [83]:
lst1*2

[1,
 4,
 5,
 6,
 7,
 4,
 3,
 2,
 1,
 3,
 4,
 5,
 6,
 7,
 1,
 4,
 5,
 6,
 7,
 4,
 3,
 2,
 1,
 3,
 4,
 5,
 6,
 7]

## Sets

In [86]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [87]:
set_var={"Avengers", "Iron Man", "Captain America"}

In [88]:
set_var

{'Avengers', 'Captain America', 'Iron Man'}

In [89]:
set_var.add("Hulk") # Unordered

In [90]:
set_var

{'Avengers', 'Captain America', 'Hulk', 'Iron Man'}

In [91]:
set_var.add("Hulk") # No Duplicate Values

In [92]:
set_var

{'Avengers', 'Captain America', 'Hulk', 'Iron Man'}

In [94]:
set_var["Hulk"] # No Indexing

TypeError: 'set' object is not subscriptable

In [100]:
set1={"Hulk", "Iron Man"}
set2={"Hulk", "Spider Man"}

In [101]:
set2.difference(set1)

{'Spider Man'}

In [97]:
set2.difference_update(set1)

{'Spider Man'}

In [98]:
set2

{'Spider Man'}

In [102]:
set2.intersection(set1)

{'Hulk'}

## Dictionary

In [103]:
disc={}

In [108]:
disc={'Car1':'Audi', 'Car2':'Audi'}

In [109]:
disc

{'Car1': 'Audi', 'Car2': 'Audi'}

In [110]:
# Access
disc['Car1']

'Audi'

In [111]:
for x in disc:
    print(x)

Car1
Car2

In [113]:
for x in disc.values():
    print(x)

Audi
Audi

In [114]:
for x in disc.items():
    print(x)

('Car1', 'Audi')
('Car2', 'Audi')

In [115]:
disc['Car3']='Benz'

In [116]:
disc

{'Car1': 'Audi', 'Car2': 'Audi', 'Car3': 'Benz'}

In [118]:
disc['Car1']='Hyundai'
disc

{'Car1': 'Hyundai', 'Car2': 'Audi', 'Car3': 'Benz'}

In [123]:
# Nested Dictionary
car1_model={'Audi':1999}
car2_model={'Benz':2000}
car3_model={'Hyundai':2001}

In [125]:
car_type={'Car1':car1_model, 'Car2':car2_model, 'Car3':car3_model}
print(car_type)

{'Car1': {'Audi': 1999}, 'Car2': {'Benz': 2000}, 'Car3': {'Hyundai': 2001}}

In [126]:
# Accessing
print(car_type['Car1'])

{'Audi': 1999}

In [127]:
print(car_type['Car2']['Benz'])

2000

## Tuple

In [128]:
my_tuple=tuple()

In [129]:
my_tuple=('Simran','Raina')

In [130]:
my_tuple

('Simran', 'Raina')

In [131]:
my_tuple[0]

'Simran'

In [132]:
my_tuple[0]='Simr' # Not Mutable

TypeError: 'tuple' object does not support item assignment

In [133]:
my_tuple=('Simr','Rai')
my_tuple

('Simr', 'Rai')

In [136]:
my_tuple.count('Simr')

1

In [137]:
my_tuple.index('Rai')

1