In [1]:
def times2(var):
    return var*2

In [2]:
# map()

In [3]:
seq=[1,2,3,4,5]

In [5]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
t=lambda var:var*2

In [8]:
t(6)

12

In [9]:
#lambda expression
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [11]:
#filter
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [14]:
# some methods
s='hello this is Simran'
print (s.capitalize())

Hello this is simran

In [15]:
s.upper()

'HELLO THIS IS SIMRAN'

In [16]:
s.split()

['hello', 'this', 'is', 'Simran']

In [20]:
tweet='Go Sports! #Sports'
tweet.split('#')

['Go Sports! ', 'Sports']

In [22]:
tweet.split('#')[1]

'Sports'

In [24]:
d={'K1':1, 'K2':2}

In [25]:
d.keys()

dict_keys(['K1', 'K2'])

In [26]:
d.items()

dict_items([('K1', 1), ('K2', 2)])

In [27]:
d.values()

dict_values([1, 2])

In [33]:
lst=[1,2,3]

In [34]:
lst.pop()

3

In [35]:
lst

[1, 2]

In [36]:
item=lst.pop()

In [37]:
item

2

In [38]:
first = lst.pop(0)

In [39]:
first

1

In [40]:
lst.append('new')

In [41]:
lst

['new']

In [42]:
'x' in [1,2,3]

False

In [43]:
'x' in ['x','y','z']

True

In [44]:
x=[(1,2),(3,4),(5,6)]

In [46]:
x[1][0]

3

In [47]:
# Tuple Unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [48]:
for (a,b) in x:
    print(a)

1
3
5

In [49]:
for (a,b) in x:
    print(b)

2
4
6